<?xml version="1.0" encoding="utf-8" ?>
<DataServer>

  <!--REST Server Configuration-->
  <!--<Rest port="80">

    --><!--Set URL Prefixes to listen on--><!--
    <Prefixes>
      <Prefix>http://localhost/</Prefix>
    </Prefixes>

  </Rest>-->

  <!--Streaming Server Configuration-->
  <Streaming port="8472" clientTimeout="15000"/>
  <!--<Streaming port="8472" clientTimeout="15000" authenticationUrl="http://dev.trakhound.com/api/devices"/>-->


  <!--SSL Configuration-->
  <!--<SslCertificatePath>C:\Users\Patrick\Documents\test-ssl-certificate\localhost.pfx</SslCertificatePath>
  <SslCertificatePassword>snaps</SslCertificatePassword>-->

  
  <!--Allowed Client Endpoints that this server will accept connections from-->
  <!--<EndPoints>
    <Allow>
      <EndPoint>192.168.1.198</EndPoint>
    </Allow>
    --><!--<Deny>
      <EndPoint>192.168.1.198</EndPoint>
    </Deny>--><!--
  </EndPoints>-->
    
  <!--Configure the MySQL database connection-->
  <DatabaseConfigurationPath>mysql.config</DatabaseConfigurationPath>

</DataServer>
